body {
    font-family: Arial, sans-serif;
    background-color: #cff4fb;
}

h1 {
    color: #0d0d0d;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #459fab;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffe5cc;
}
